.gridas {
  background-color: rgb(22, 19, 19);
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  padding-left: 200px;
  padding-top: 30px;
}

.item {
  text-decoration: none;
  color: rgb(235, 222, 235);
  background-color: rebeccapurple;
  padding: 2px;
  justify-content: center;
  border: '1px white';
}

.hr {
  color: white;
  background-color: turquoise;
  padding: 2px;
  width: 500px;
  margin-left: 200px;
}
